<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="TestSuite" parallel="false">
  <test name="Testindu1">
  <parameter name='browser' value='chrome'> </parameter>
    <classes>
      <class name="day2test.testing"/>
    </classes>
  </test> <!-- Test -->
  <test name="Testindu2">
  <parameter name='browser' value='chrome1'> </parameter>
    <classes>
      <class name="day2test.testing"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
